body {
    background: #333333;
    color: #CCC;
    font-family: Roman;
}

canvas {
    margin: 0px auto;
    border: 2px solid #000;
}

h1 {
    text-align: center;
}

@font-face {
    font-family: Roman;
    src: url('fonts/roman.ttf');
}